// Gilroy Font
@font-face {
    font-family: "Gilroy";
    font-weight: 300;
    src: url(../fonts/Gilroy-Light.woff2);
}
@font-face {
    font-family: "Gilroy";
    font-weight: 400;
    src: url(../fonts/Gilroy-Regular.woff2);
}
@font-face {
    font-family: "Gilroy";
    font-weight: 500;
    src: url(../fonts/Gilroy-Medium.woff2);
}
@font-face {
    font-family: "Gilroy";
    font-weight: 600;
    src: url(../fonts/Gilroy-Semibold.woff2);
}
@font-face {
    font-family: "Gilroy";
    font-weight: 700;
    src: url(../fonts/Gilroy-Bold.woff2);
}

// vars
$html-font-size: 16px;
$containerWidth: 1520px;
$containerPadding: 25px;
$font: "Gilroy";
// colors vars
$primary: #e91d1f;
$bg: #ce0d0f;
$text: #a8a8a8;
$dark: #282828;

// media vars
$md1: 992px;
$md2: 768px;
$md3: 578px;
$md4: 375px;
$md5: 320px;

// mixins
@function stripUnit($value) {
    @return $value / ($value * 0 + 1);
}

@function rem($pxValue) {
    @return #{stripUnit($pxValue) / stripUnit($html-font-size)}rem;
}

@mixin section_border() {
    border-bottom: 1px solid rgba($color: #fff, $alpha: 0.1);
}

@mixin cards-container {
    gap: 15px;
    flex-wrap: wrap;
}
// global styles
* {
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.wrapper {
    position: relative;
    overflow: hidden;
    min-height: 100vh;
}

.container {
    max-width: $containerWidth + $containerPadding;
    padding: 0 $containerPadding;
    margin: 0 auto;
}

html {
    font-size: $html-font-size;
}

body {
    font-size: 1rem;
    color: $text;
    font-family: $font, sans-serif;
    &.no-scroll {
        overflow: hidden;
    }
}

input,
textarea,
input::placeholder,
textarea::placeholder {
    font-family: inherit;
}
input,
textarea {
    &:focus {
        &::placeholder {
            font-size: 0;
        }
    }
}
.section-title {
    font-size: rem(50px);
    font-weight: 500;
    color: $dark;
    text-transform: capitalize;
    @media (max-width: $md1) {
        font-size: rem(40px);
    }
    @media (max-width: $md2) {
        font-size: rem(32px);
    }
    @media (max-width: $md3) {
        font-size: rem(22px);
        font-weight: 500;
    }
    span {
        font-weight: 400;
        display: block;
    }
    &_light {
        color: #fff;
    }
}

.book {
    border: none;
    background: $dark;
    color: #fff;
    padding: 16px 32px;
    border-radius: 10px;
    transition: background 0.3s;
    font-weight: 600;
    box-shadow: 0px 9px 35px rgba(40, 40, 40, 0.15);
    @media (max-width: $md3) {
        width: 100%;
    }
    &:hover {
        background: lighten($color: $dark, $amount: 15%);
    }
    &_light {
        background: #fff;
        color: $dark;
        box-shadow: none;
        &:hover {
            background: #e2e0e0;
        }
    }
}

section:not(.hero) {
    @media (max-width: $md3) {
        padding: 50px 0 !important;
    }
}

// header
.header {
    padding: 50px 0 75px;
    @media (max-width: $md3) {
        padding: 30px 0 60px;
    }
    &__top {
        display: flex;
        align-items: center;
    }
    .logo {
        img {
            @media (max-width: $md2) {
                width: 32px;
            }
        }
    }
    &__phone {
        display: grid;
        gap: 1px 10px;
        color: $dark;
        @media (max-width: 475px) {
            margin-left: auto;
        }
        img {
            grid-row: 1 / 2;
            @media (min-width: $md2) {
                transform: translateY(7px);
            }
        }
        span {
            font-size: rem(12px);
            @media (max-width: $md2) {
                display: none;
            }
        }
        &-link {
            grid-column: 2 / 3;
            @media (max-width: $md2) {
                display: none;
            }
        }
    }
    &-main {
        margin-top: 115px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width: $md1) {
            flex-direction: column;
            align-items: flex-start;
        }
        @media (max-width: $md3) {
            margin-top: 50px;
        }
        &__title {
            font-size: rem(85px);
            line-height: 1.15;
            @media (max-width: 1245px) {
                font-size: rem(50px);
            }
            @media (max-width: $md3) {
                font-size: rem(28px);
            }
        }
        &__form {
            display: flex;
            margin-top: 50px;
            @media (max-width: $md3) {
                flex-wrap: wrap;
                gap: 15px;
            }
            @media (max-width: $md3) {
                margin-top: 35px;
            }
            @media (max-width: $md4) {
                margin-top: 20px;
            }
            .nice-select {
                height: 52px;
                width: 245px;
                display: flex;
                align-items: center;
                margin-right: 20px;
                padding: 0 20px;
                color: $dark;
                border: 1px solid rgba($color: $dark, $alpha: 0.35);
                font-weight: 500;
                @media (max-width: $md3) {
                    margin: 0;
                    width: calc(50% - 8px);
                }
                &::after {
                    right: 20px;
                    border-color: $dark;
                }
            }

            .book {
                margin-left: 15px;
                @media (max-width: $md3) {
                    width: 100%;
                    margin: 0;
                }
            }
        }
        &-tests {
            padding-right: 25px;
            @media (max-width: $md1) {
                margin-top: 25px;
            }
            &__title {
                color: $dark;
                font-size: rem(22px);
                span {
                    color: $text;
                    font-weight: 400;
                }
                margin-bottom: 25px;
                @media (max-width: $md3) {
                    font-size: rem(16px);
                }
            }
            &__list {
                display: flex;
                gap: 25px;
                @media (max-width: $md3) {
                    gap: 15px;
                }
                @media (max-width: $md4) {
                    flex-direction: column;
                }
            }
            &__item {
                padding-left: 25px;
                background: url(../img/list-marker.svg) left center / 15px 15px no-repeat;
                @media (max-width: $md3) {
                    font-size: rem(14px);
                }
            }
        }
    }
}

.menu {
    margin-left: auto;
    margin-right: 157px;
    @media (max-width: $md1) {
        margin: 0 auto;
    }
    @media (max-width: 475px) {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: -100%;
        background: $primary;
        z-index: 10;
        transition: 0.3s;
    }
    &.active {
        left: 0;
    }
    &__list {
        display: flex;
        gap: 75px;
        @media (max-width: $md2) {
            gap: 25px;
        }
        @media (max-width: 475px) {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100%;
            gap: 45px;
        }
    }
    &__link {
        color: $dark;
        position: relative;
        @media (max-width: 475px) {
            color: #fff;
            font-size: rem(24px);
        }
        &::after {
            content: "";
            display: block;
            position: absolute;
            width: 0;
            height: 0.6px;
            background: $dark;
            left: 0;
            bottom: -5px;
            opacity: 0.8;
            transition: width.3s;
        }
        &:hover {
            &::after {
                width: 100%;
            }
        }
    }
}

// mobile menu btn
.menu-btn {
    @media (max-width: 475px) {
        margin-left: 25px;
        position: relative;
        z-index: 11;
        &.active {
            span,
            span::after {
                background: #fff;
            }
            span {
                &::after {
                    width: 30px;
                    transform: rotate(90deg);
                    top: 0;
                }
                transform: rotate(45deg);
            }
        }
        span {
            display: block;
            width: 30px;
            height: 3px;
            background: $dark;
            position: relative;
            top: -5px;
            border-radius: 17px;
            transition: background 0.3s, transform 0.3s;
            &::after {
                content: "";
                display: block;
                position: absolute;
                height: 3px;
                width: 20px;
                background: $dark;
                top: 10px;
                right: 0;
                border-radius: 17px;
                transition: background 0.3s, width 0.3s, transform 0.3s;
            }
        }
    }
}

// hero styilng
.hero {
    padding-top: 40vw;
    padding-bottom: 75px;
    background: url(../img/hero-bg.jpg) center / cover no-repeat;
    position: relative;
    overflow: hidden;
    @media (max-width: $md3) {
        padding-bottom: 35px;
    }
    &::after {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        background: url(../img/decor.svg) center left 100% / cover no-repeat;
        left: 0;
        top: 0;
        @media (max-width: $md1) {
            transform: rotateX(180deg);
            background-size: cover;
            width: 100vw;
            height: 75vw;
        }
    }
    @media (max-width: $md1) {
        &::before {
            content: "";
            position: absolute;
            display: block;
            width: 100%;
            height: 500px;
            background: rgba($color: $bg, $alpha: 0.85);
            left: 0;
            top: 75vw;
        }
    }
    .container {
        position: relative;
        z-index: 2;
    }
    .book {
        margin-top: 35px;
    }
    .section-title {
        @media (max-width: $md3) {
            max-width: 255px;
        }
    }
}
.animated {
    &_1 {
        stroke-dasharray: 1200;
        stroke-dashoffset: 1200;
        transition: stroke-dashoffset 2s;
    }
    &_2 {
        stroke-dasharray: 1200;
        stroke-dashoffset: 1200;
        transition: stroke-dashoffset 2s;
        transition-delay: 1s;
    }
    &_circle {
        stroke-dasharray: 350;
        stroke-dashoffset: 350;
        transition: stroke-dashoffset 3s;
        &_1 {
            transition-delay: 2.3s;
        }
        &_2 {
            transition-delay: 2.6s;
        }
        &_3 {
            transition-delay: 2.9s;
        }
        &_4 {
            transition-delay: 3.2s;
        }
        &_5 {
            transform: scale(0);
            transition: transform 0.7s;
        }
        &_6 {
            transition-delay: 0.5s;
        }
    }
    &.active {
        stroke-dashoffset: 0;
        transform: scale(1);
    }
}

// what section
.what {
    padding: 130px 0;
    position: relative;
    &-decor {
        content: "";
        display: block;
        position: absolute;
        right: 0;
        top: 130px;
        width: 660px;
        height: 666px;
        @media (max-width: $md1) {
            top: 400px;
            width: 450px;
            height: 450px;
        }
        @media (max-width: $md2) {
            width: 340px;
            height: 370px;
            top: 40%;
        }
    }
    &__columns {
        display: flex;
        justify-content: space-between;
        position: relative;
        z-index: 2;
        @media (max-width: $md1) {
            flex-direction: column;
            justify-content: flex-start;
        }
    }
    &-text {
        flex: 0 1 613px;
        @media (max-width: $md1) {
            flex: 0 1 auto;
        }
        &__subtitle {
            margin-top: 35px;
            margin-bottom: 50px;
            font-weight: 500;
            @media (max-width: $md3) {
                font-size: rem(14px);
                margin-top: 25px;
                margin-bottom: 30px;
            }
        }
    }
    &-steps {
        flex: 0 1 643px;
        padding-left: 25px;
        padding-right: 10vw;
        position: relative;
        z-index: 2;
        @media (max-width: $md1) {
            flex: 0 1 auto;
            padding-left: 0;
            margin-top: 60px;
        }
        @media (max-width: $md4) {
            padding-right: 0;
        }
        &__title {
            color: #000;
            font-size: rem(22px);
            margin-bottom: 35px;
        }
        counter-reset: steps;
        &__item {
            padding: 20px 30px;
            box-shadow: 0px 12px 25px rgba(86, 86, 86, 0.08);
            border-radius: 12px;
            display: flex;
            background: #fff;
            &::before {
                counter-increment: steps;
                content: counter(steps);
                display: flex;
                align-items: center;
                justify-content: center;
                margin-right: 20px;
                height: 45px;
                flex: 0 0 45px;
                background: $primary;
                color: #fff;
                font-size: rem(16px);
                font-weight: 600;
                border-radius: 50%;
            }
            p {
                display: block;
                font-size: rem(13px);
            }
            &:not(:last-child) {
                margin-bottom: 25px;
            }
        }
    }
    &-bottom {
        margin-top: 130px;
        @media (max-width: $md1) {
            margin-top: 60px;
        }
        &__title {
            color: #000;
            max-width: 483px;
            margin-bottom: 35px;
            span {
                color: $text;
            }
        }
        &__list {
            display: flex;
            gap: 35px;
            max-width: 1130px;
            @media (max-width: $md1) {
                gap: 15px;
            }
            @media (max-width: $md2) {
                flex-direction: column;
            }
        }
        &__item {
            box-shadow: 0px 12px 25px rgba(86, 86, 86, 0.08);
            border-radius: 15px;
            padding: 20px 35px;
            font-weight: 500;
            position: relative;
            color: #000;
            &::before {
                content: "";
                display: block;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                height: 54px;
                width: 6px;
                background: url(../img/what-item_decor.svg) center / cover no-repeat;
            }
        }
    }
}

//serve
.serve {
    &__columns {
        display: flex;
        align-items: center;
        @media (max-width: 1024px) {
            flex-direction: column;
        }
    }
    &__title {
        color: #000;
        text-transform: capitalize;
        font-size: rem(50px);
        font-weight: 600;
        span {
            color: $text;
            font-weight: 400;
        }
        @media (max-width: 1300px) {
            font-size: rem(32px);
        }
        @media (max-width: $md3) {
            font-size: rem(22px);
        }
    }
    &__img {
        width: 50%;
        position: relative;
        @media (max-width: 1024px) {
            width: 100%;
        }

        &::before {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: url(../img/serve-decor.svg) center / contain no-repeat;
        }
        img {
            width: 100%;
        }
    }
    &__text {
        width: 50%;
        padding-left: 129px;
        padding-right: calc((100vw - 1570px) / 2);
        @media (max-width: 1024px) {
            width: 100%;
            margin-top: 35px;
        }
        @media (max-width: 1570px) {
            padding-left: 25px;
            padding-right: 25px;
        }
    }
    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(127px, 1fr));
        gap: 22px 50px;
        margin: 35px 0 50px;
        @media (max-width: 1300px) {
            gap: 20px;
        }
    }

    &__item {
        padding-left: 25px;
        background: url(../img/list-marker.svg) left center / 15px 15px no-repeat;
    }
}

.companies {
    padding: 130px 0;
    &__slider {
        margin: 50px 0;
        @media (max-width: $md3) {
            margin-top: 25px;
        }
    }
    .slick-dots {
        position: absolute;
        right: 0;
        top: -50px;
        display: flex;
        gap: 11px;
        @media (max-width: $md3) {
            top: calc(100% + 12px);
            left: 0;
        }
        li {
            padding: 5px;
            &.slick-active {
                border: 1px solid $primary;
                border-radius: 50%;
            }
        }
        button {
            background: $primary;
            padding: 5px;
            margin: 0;
            border: none;
            font-size: 0;
            border-radius: 50%;
            display: block;
            width: 7px;
            height: 7px;
            &:focus {
                outline: none;
            }
        }
    }
    &__list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(255px, 2fr));
        justify-content: center;
        row-gap: 15px;
        margin-top: 134px;
    }

    &__item {
        a {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        img {
            max-width: 188px;
        }
    }
}
.company-item {
    &:not(:first-child) {
        margin-left: 35px;
    }
    &__info {
        display: flex;
        align-items: center;
        gap: 35px;
        margin-bottom: 25px;
        @media (max-width: $md3) {
            gap: 15px;
        }
    }
    &__date {
        font-size: rem(12px);
        color: rgba($color: $dark, $alpha: 0.65);
        margin-bottom: 12px;
    }
    &__title {
        font-size: rem(24px);
        font-weight: 500;
        color: $dark;
    }
}
// faq
.faq {
    background: $bg;
    color: #fff;
    padding: 85px 0;
    position: relative;
    .section-title {
        @media (max-width: 1300px) {
            br {
                display: none;
            }
        }
    }
    &::after {
        content: "";
        display: block;
        position: absolute;
        width: 30vw;
        height: 15vw;
        background: url(../img/circle_1.svg) center / cover no-repeat;
        left: 0;
        bottom: 0;
        @media (max-width: $md1) {
            display: none;
        }
    }
    &::before {
        content: "";
        display: block;
        position: absolute;
        width: 10vw;
        height: 20vw;
        background: url(../img/circle_2.svg) center / cover no-repeat;
        right: 0;
        top: 0;
    }
    .container {
        display: flex;
        @media (max-width: $md1) {
            flex-direction: column;
        }
    }
    &__text {
        flex: 0 1 600px;
        @media (max-width: $md1) {
            flex: 1 1 100%;
        }
    }
    &__list {
        flex: 1 1 100%;
        padding-left: 10vw;
        display: flex;
        flex-direction: column;
        gap: 25px;
        @media (max-width: $md1) {
            padding-left: 0;
            margin-top: 30px;
        }
    }
    &-item {
        position: relative;
        padding-left: 70px;
        @media (max-width: $md3) {
            padding-left: 0;
        }
        &::before {
            content: url(../img/faq.svg);
            position: absolute;
            left: 0;
            @media (max-width: $md3) {
                display: none;
            }
        }

        &__title {
            font-size: rem(22px);
            margin-bottom: 15px;
            font-weight: 500;
            position: relative;
            @media (max-width: $md3) {
                padding-left: 35px;
                font-size: rem(14px);
                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    display: block;
                    width: 25px;
                    height: 25px;
                    background: url(../img/faq.svg) center / cover no-repeat;
                }
            }
        }
        &__text {
            color: rgba($color: #fff, $alpha: 0.55);
            @media (max-width: $md3) {
                font-size: rem(12px);
            }
        }
    }
    &__subtitle {
        margin: 15px 0 35px;
        color: rgba($color: #fff, $alpha: 0.75);
        line-height: 1.75;
    }
}

// contact
.contact {
    padding: 130px 0;
    @media (max-width: $md1) {
        padding: 50px 0;
    }
    .container {
        display: flex;
        gap: 35px;
        @media (max-width: $md1) {
            flex-direction: column-reverse;
        }
    }
    &__text {
        flex: 0 1 50%;
    }
    &-form {
        margin-top: 50px;
        &__input {
            font-weight: 500;
            font-size: rem(17px);
            padding: 16px 20px;
            display: block;
            width: 100%;
            border-radius: 10px;
            border: 1px solid rgba(40, 40, 40, 0.15);
            color: $dark;
            &::placeholder {
                color: rgba($color: $dark, $alpha: 0.35);
            }
        }
        &__columns {
            display: flex;
            gap: 25px 35px;
            margin-bottom: 25px;
            @media (max-width: $md1) {
                flex-direction: column;
            }
            .contact-form__input {
                width: 50%;
                @media (max-width: $md1) {
                    width: 100%;
                }
            }
        }
        &__message {
            margin-top: 25px;
            margin-bottom: 38px;
            height: 110px;
            resize: none;
        }
    }
    &__img {
        flex: 0 1 50%;
        position: relative;
        &::before {
            content: "";
            display: block;
            position: absolute;
            right: 0;
            bottom: 0;
            width: 180px;
            height: 180px;
            background: url(../img/contact-decor.svg) center / cover no-repeat;
        }
        img {
            width: 100%;
            height: 538px;
            object-fit: cover;
        }
    }
}
.footer {
    padding: 75px 0 30px;
    border-top: 1px solid rgba($color: $dark, $alpha: 0.2);
    @media (max-width: $md3) {
        padding: 35px 0 25px;
    }
    &-top {
        display: flex;
        align-items: center;
        position: relative;
        @media (max-width: 1165px) {
            flex-wrap: wrap;
        }
        .book,
        .book_light {
            @media (max-width: $md3) {
                display: none;
            }
        }
    }
    .book_light {
        border: 1px solid $dark;
        margin-left: 25px;
    }
    &-socials {
        display: flex;
        margin-left: 80px;
        gap: 20px;
        margin-right: 115px;
        @media (max-width: 1300px) {
            margin: 0 auto;
            padding-right: 55px;
        }
        @media (max-width: $md2) {
            flex: 1 1 100%;
            margin-top: 12px;
            order: 5;
        }
        &__item {
            width: 35px;
            height: 35px;
            border: 0.7px solid rgba(40, 40, 40, 0.15);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    &-link {
        color: $dark;
        display: flex;
        align-items: center;
        gap: 12px;
        font-weight: 500;
        @media (max-width: 1165px) {
            flex: 1 1 50%;
            padding-top: 25px;
        }
        @media (max-width: $md2) {
            flex: 1 1 100%;
            justify-content: flex-start !important;
        }
        @media (max-width: $md2) {
            padding-top: 0;
            &.footer__phone {
                margin-top: 12px;
            }
        }
        span {
            width: 35px;
            height: 35px;
            border: 0.7px solid rgba(40, 40, 40, 0.15);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    &__phone {
        margin-left: 35px;
        @media (max-width: 1165px) {
            margin-left: 0px;
            justify-content: flex-end;
        }
    }
    &__scroll-btn {
        width: 55px;
        height: 55px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid rgba(21, 21, 21, 0.5);
        box-sizing: border-box;
        border-radius: 6px;
        margin-left: auto;
        @media (max-width: 1165px) {
            position: absolute;
            right: 0;
            top: 0;
        }
    }
    &-main {
        display: flex;
        gap: 75px;
        margin-top: 67px;
        align-items: flex-end;
        @media (max-width: 1165px) {
            margin-top: 25px;
        }
        @media (max-width: 845px) {
            gap: 20px;
        }
        @media (max-width: $md2) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            font-size: rem(14px);
        }
        &__col_mobile-first {
            @media (max-width: $md2) {
                grid-column-start: 1;
            }
        }
        &__col_mobile-third {
            @media (max-width: $md2) {
                grid-column-start: 3;
                grid-row-start: 2;
            }
        }
        &__title {
            color: $dark;
            font-size: rem(22px);
            margin-bottom: 23px;
            font-weight: 600;
        }
        &__item {
            &:not(:last-child) {
                margin-bottom: 15px;
            }
        }
    }
    &__mobile-btns {
        display: flex;
        gap: 25px;
        margin-top: 25px;
        @media (max-width: $md3) {
            flex-wrap: wrap;
        }
        & > * {
            flex: 0 1 50%;
            margin: 0 !important;
            @media (max-width: $md3) {
                flex: 1 1 100%;
            }
        }
    }
    &-bottom {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 86px;
        @media(max-width:354px) {
            text-align: center;
            justify-content: center;
        }
        @media (max-width: $md2) {
            flex-wrap: wrap;
            margin-top: 25px;
        }
        &__privacy {
            text-decoration: underline;
            @media (max-width: $md2) {
                flex: 1 1 100%;
                padding-bottom: 25px;
                font-size: rem(14px);
            }
            @media(max-width:$md3) {
                padding-bottom: 15px;
            }
        }
        &__copy {
            margin-left: auto;
            margin-right: 196px;
            max-width: 224px;
            @media (max-width: $md1) {
                margin: 0 auto;
            }
            @media (max-width: $md2) {
                margin-left: 0;
            }
            @media (max-width: $md3) {
                font-size: rem(10px);
                max-width: 150px;
            }
            @media(max-width:354px) {
                margin: 15px auto;
                font-size: rem(14px);
                max-width: 100%;
            }
        }
        &__company {
            display: flex;
            max-width: 210px;
            gap: 10px;
            img {
                width: 91px;
                height: 36px;
                @media (max-width: $md3) {
                    width: 70px;
                    height: 25px;
                }
            }
            @media (max-width: $md3) {
                font-size: rem(10px);
                max-width: 143px;
                @media(max-width:354px) {
                    font-size: rem(14px);
                    max-width: 100%;
                }
            }
        }
    }
}

// scrollbar

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    padding: 10px;
    background: $bg;
    border-radius: 20px;
    border: 6px solid #fff;
}

.wow {
    @media (max-width: $md1) {
        transition: none !important;
        transform: none !important;
        animation: none !important;
    }
}
